.boxed {
  border: 10px solid purple ;
}

.jumbotron{
  font-family: sans-serif:
  text-align: center;
  font-size: 40px;
  background-color: white;
  text-align: center;
}

.boxed{
  background-color: white;
  font-family: sans-serif;
  font-size:15px;
  text-align: center;
}

body {
  background-image: url("https://steamuserimages-a.akamaihd.net/ugc/43116295274565139/98311AF41D582C7D6271ED94EBC5F7CA30EBCE5A/");
}

.img{
  width:300px;
  height:350px;
}.boxed {
  border: 10px solid purple ;
}



.boxed{
  background-color: white;
  font-family: sans-serif;
  font-size:15px;
  text-align: center;
}

body {
  background-image: url("https://steamuserimages-a.akamaihd.net/ugc/43116295274565139/98311AF41D582C7D6271ED94EBC5F7CA30EBCE5A/");
  
}

.img{
  width:300px;
  height:350px;
}
h2{
  font-family:sans-serif;
}

.navbar{
  font-family: sans-serif;
  font-size: 15px;
}


.card-body{
  font-family: monospace;
  font-size: 30px;
}

.jumbotron-fluid{
  font-family: 20px;
}