body{
    background-color:#efe21;
    text-align:center
}
h1 {color:Black;
    text-shadow:1px 4px #395645;}
    
 h2{font-size:125%; }

img
.Plane{
	border-radius:4px;
	color: #91274F;
	width: 320px;
    height:200px;
}