.boxed {
  border: 10px solid purple ;
}

.jumbotron{
  font-family: monospace;
  text-align: center;
  font-size: 40px;
  background-color: white;
}

.boxed{
  background-color: white;
  font-family: monospace;
  font-size:15px;
  text-align: center;
}

body {
  background-image: url("https://steamuserimages-a.akamaihd.net/ugc/43116295274565139/98311AF41D582C7D6271ED94EBC5F7CA30EBCE5A/");
}

.img{
  width:300px;
  height:350px;
}.boxed {
  border: 10px solid purple ;
}

.jumbotron{
  font-family: monospace;
  text-align: center;
  font-size: 30px;
  background-color: white;
}

.boxed{
  background-color: white;
  font-family: monospace;
  font-size:15px;
  text-align: center;
}

body {
  background-image: url("https://steamuserimages-a.akamaihd.net/ugc/43116295274565139/98311AF41D582C7D6271ED94EBC5F7CA30EBCE5A/");
}

.img{
  width:300px;
  height:350px;
}