.jumbotron-fluid{
   background-color:#f7f7f8;
    text-align: center;
    font-size:300%;
    font-family:monospace;
}

.card{
    background-color:white;
    height:350px;
    width:350px;
    align-items:center;
}

.navbar {
    font-family: monospace;